<a href="/allPosts" class="back">&larr; 뒤로</a>
<div class="add-title">
    <h2><%= locals.title %></h2>
</div>

<form action="/add" method="POST" class="add-form">
    <label for="title" ><b>제목</b></label>
    <input type="text" placeholder="게시물 제목" name="title" id="title" class="form-input">
    
    <label for="body" ><b>내용</b></label>
    <textarea name="body" id="body" cols="50" rows="10" placeholder="게시물 내용" class="form-textarea"></textarea>

    <input type="submit" value="등록" class="btn btn-submit">
</form>