<section class="about-section">
    <h2>이 블로그는 어떤 곳인가요?</h2>
    
    <p>안녕하세요! 이곳은 제가 공부하며 기록하는 개발 블로그입니다.<br>
        웹 개발, 인공지능, 데이터 분석 등을 배우며 느낀 점과 프로젝트를 정리하고 있습니다.
    </p>
    <br>
    <h2>관리자 소개</h2>
    <ul>
        <li>이름: 김현수</li>
        <li>전공: AI 소프트웨어공학</li>
        <li>관심분야: 웹 개발, 머신러닝, AI</li>
    </ul>
    <br>
    <h2>사용한 기술 스택</h2>
    <p>Node.js, Express, MongoDB, EJS, CSS, JavaScript</p>
    <br>
    <h2>주요 기능</h2>
    <ul>
        <li>로그인 기능</li>
        <li>게시글 등록 및 수정/삭제</li>
        <li>게시물 검색 & 페이징</li>
        <li>댓글 기능</li>
        <li>좋아요/싫어요 시스템</li>
        <li>총 방문자 수 구현</li>
    </ul>
</section>